:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: lightblue;
}

header {
    background-color: var(--header-color);
    padding: 2em;
}

header .title {
    font-size: 28px;
}

main {
    display: flex;
    flex-grow: 1;
}

.left-bar {
    width: 20em;
    background-color: var(--sidebar-color);
}

.map-container {
    flex-grow: 1;
}

.map {
    height: 200px;
    width: 100vw;
}

footer {
    background-color: var(--header-color);
    padding: 1em;
}

mat-card {
    margin: 12px;
    padding: 0px;
}

agm-map {
    height: 44vh;
}

mat-action-row {
    align-items: flex-start;
}

mat-card-title {
    padding: 12px 12px 12px 25px;
}

.check-box-card {
    width: 150px;
    margin: auto;
    position: relative;
    padding: 12px;
}