:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: lightblue;
}

mat-icon {
    flex: flex-end;
}

header {
    background-color: var(--header-color);
    padding: 2em;
}

header .title {
    font-size: 28px;
}

main {
    display: flex;
    flex-grow: 1;
}

.left-bar {
    width: 20em;
    background-color: var(--sidebar-color);
}

.map {
    height: 200px;
    width: 100vw;
}

footer {
    background-color: var(--header-color);
    padding: 1em;
}

mat-card {
    margin: 12px;
    padding: 0px;
}

agm-map {
    height: 44vh;
}

mat-action-row {
    align-items: flex-start;
}

.report-title {
    padding-left: 12px;
    padding-top: 12px;
}

mat-card-title {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 12px;
}

mat-icon {
    padding-top: 12px;
    cursor: pointer;
    color: primary;
}


/* .report-title {} */

.map-container {
    flex-grow: 1;
    position: relative;
}

.check-box-card {
    width: 150px;
    margin-left: 40%;
    margin-top: 100px;
    margin-right: auto;
    position: absolute;
    padding: 12px;
    opacity: 95%;
}

.centered {
    margin: auto;
}