:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.title-with-share {
    display: flex;
    direction: row;
    justify-content: space-between;
}

body {
    margin: 0;
}

.report-container {
    margin: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
}

.strong {
    font-weight: bold;
}

.collection {
    padding: 10px;
    border-radius: 7px;
    margin: 3px;
    color: white;
    min-height: 222px;
}

.collection-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin: 35px;
    margin: auto;
    margin: 12px;
}


/* mat-icon {
    margin: 25px;
} */

ul {
    padding-top: 0px;
    padding-bottom: 0px;
}

.details-container {
    margin: auto;
}

img {
    width: 80%;
    height: 70%;
}

main {
    display: flex;
    flex-grow: 1;
}

agm-map {
    z-index: 1;
    height: 200px;
}

mat-action-row {
    align-items: flex-start;
}

mat-accordian {
    height: 500px;
}

.report-title {
    padding-left: 12px;
    padding-top: 12px;
}

.report-subtitle {
    margin-top: 12px;
}

button {
    margin: 8px;
    padding: 4px;
}

mat-card {
    padding: 25px;
}

mat-card-title {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 12px;
}

mat-icon {
    padding-top: 12px;
    cursor: pointer;
}

.centered {
    margin: auto;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin: 22px;
}

.title {
    margin-left: 35px;
}

.frame {
    height: 250px;
    width: 250px;
    background: transparent no-repeat center;
    background-size: cover;
    margin: 15px;
}

mat-expansion-panel,
mat-accordion {
    margin-bottom: 12px;
}