:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body {
    margin: 0;
}

button {
    margin: 8px;
    padding: 4px;
}

collection-wrapper {
    width: 100%;
}

img {
    height: 70%;
    width: 80%;
}

li {
    margin: 0;
    padding: 0;
}

mat-card {
    padding: 25px;
}

img {
    height: 70%;
    width: 80%;
}

main {
    display: flex;
    flex-grow: 1;
}

agm-map {
    cursor: pointer;
    height: 300px;
    margin-bottom: 1rem;
    z-index: 1;
}

mat-action-row {
    align-items: flex-start;
}

mat-accordian {
    height: 500px;
    margin-bottom: 12px;
}

mat-card-title {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 12px;
}

mat-icon {
    padding-top: 12px;
    cursor: pointer;
}

mat-expansion-panel-body {
    margin: 0;
    padding: 0;
}

mat-expansion-panel {
    margin-bottom: 12px;
}

share-buttons {
    width: 100%;
    display: flex;
    align-content: center;
    width: 250px;
    margin: 1rem;
}

ul {
    padding-left: 25px;
    margin: 0;
}

.collection {
    padding: 10px;
    border-radius: 7px;
    margin: 3px;
    color: white;
    min-height: 222px;
    filter: drop-shadow(16px 16px 10px gray);
    width: 150px;
}

.collection-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 35px;
    margin: 1rem;
    width: 100%;
}

.item {
    flex-basis: 1;
}

.time-header {
    margin: 10px;
}

.details-container {
    margin: auto;
}

.frame {
    background: transparent no-repeat center;
    background-size: cover;
    border-radius: 5px;
    height: 50px;
    margin: 5px;
    width: 50px;
}

.report-container {
    margin: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
}

.report-title {
    padding-left: 12px;
    padding-top: 12px;
}

.report-subtitle {
    margin-top: 12px;
}

.centered {
    margin: auto;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin: 10px;
}

.strong {
    font-weight: bold;
}

.title {
    margin-left: 35px;
}

.frame {
    background: transparent no-repeat center;
    background-size: cover;
    border-radius: 5px;
    height: 50px;
    margin: 3px;
    width: 50px;
}

.share-icons {
    padding: 6px;
    color: white;
}

.share-button-container {
    display: flex;
    align-content: space-between;
    width: 250px;
}

.button {
    visibility: hidden;
}