.collection {
    padding-left: 25px;
}

h1 {
    padding: 12px;
}

.center {
    text-align: center;
}

.report-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem;
    width: 100%;
}

.container-wrapper {
    width: 100%;
}