.bold {
    font-weight: bold;
}

.collection-wrapper {
    display: flex;
    margin: auto;
    width: 75%;
    justify-content: center;
}

.collection {
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 69%;
}

.report {
    display: flex;
    justify-content: space-between;
}

.primary {
    color: #3F51B5;
}

mat-paginator {
    margin-top: 1rem;
}

h1 {
    text-align: center;
    padding: 12px;
}