.bold {
    font-weight: bold;
}

.collection {
    padding-left: 25px;
}

.report {
    display: flex;
    justify-content: space-between;
}

.primary {
    color: #3F51B5;
}

mat-paginator {
    margin-top: 1rem;
}

h1 {
    text-align: center;
    padding: 12px;
}