<mat-accordion multi="false">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <h4 class="thumbnail-header">{{ property?.name }}</h4>
        </mat-expansion-panel-header>
        <mat-panel-title>
            <h5>{{ property?.address }}</h5>
        </mat-panel-title>

        <mat-panel-description> Route: </mat-panel-description>

        <mat-action-row>
            <button mat-button color="warn" (click)="onDelete(property.id)">
        Delete
      </button>
            <!-- admin -->
            <a mat-button color="primary" [routerLink]="['/edit-property', property.id]">Edit Property</a
      >
      <a mat-button color="primary" [routerLink]="['/new-report', property.id]"
        >Create Report</a
      >
      >
      <a mat-button color="primary" [routerLink]="['/report-list', property.id]"
        >Reports</a
      >
      <a mat-button color="primary">Add to Route</a>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<mat-paginator></mat-paginator>