mat-card-content {
    font-size: 200%;
}


/* mat-card {
    /* border: solid red; */


/* width: 55px;
    height: 55px; */


/* margin: 12px;
    vertical-align: middle; */


/* } */

*/ mat-button {
    padding: 12px;
}

.route-container {
    display: flex;
    flex-flow: row wrap;
    margin: 50px;
}

p {
    margin: auto;
}