.route-container {
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px;
    flex-basis: auto;
}

mat-button {
    padding: 12px;
    margin: 12px;
}