<mat-card>
    <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->

    <form (submit)="onSaveProperty(propertyForm)" #propertyForm="ngForm">
        <mat-form-field>
            <input matInput type="text" name="name" [ngModel]="property?.name" minlength="3" placeholder="Property Name" #name="ngModel" />
            <mat-error *ngIf="name.invalid">Please enter a valid name</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput name="address" [ngModel]="property?.address" minlength="3" #address="ngModel" placeholder="Address " />
            <mat-error *ngIf="address.invalid">Please enter a valid address</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">
      Save Property
    </button>
    </form>
</mat-card>