<mat-card>
    <form (submit)="onAddProperty(propertyForm)" #propertyForm="ngForm">
        <mat-form-field>
            <input matInput type="text" name="name" ngModel required minlength="3" placeholder="Property Name" #name="ngModel" />
            <mat-error *ngIf="name.invalid">Please enter a valid tname</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput rows="6" name="address" ngModel required minlength="3" #address="ngModel" placeholder="Address " />
            <mat-error *ngIf="address.invalid">Please enter a valid address</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">
      Save post
    </button>
    </form>
</mat-card>