<agm-map #map PolygonecompleteDirective id="map" [zoom]='zoom' [latitude]='latitude' [longitude]='longitude' [mapTypeId]="'hybrid'" [maxZoom]="maxZoom" [minZoom]="minZoom" (mapReady)="onMapReady($event)" [fullscreenControl]="fullscreenControl" [zoomControl]="zoomControl"
    [rotateControl]="rotateControl" [scaleControl]="scaleControl" [streetViewControl]="streetViewControl">
    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)">

    </agm-marker>
</agm-map>



<button color="primary" (click)="overlayComplete($event)" mat-button>Overlay Complete</button>


<button color="primary" mat-button>Clear Map</button>