<mat-toolbar><a routerLink="/">DBL</a>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="userIsAuthenticated">
            <a mat-button routerLink="/routes" routerLinkActive="mat-primary">Routes</a
      >
    </li>
        <li *ngIf="userIsAuthenticated">
            <a mat-button routerLink="/add-property" routerLinkActive="mat-primary">Add Property</a
      >
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="user/login" routerLinkActive="mat-primary">Login</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="user/signup" routerLinkActive="mat-primary">Sign Up</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <button (click)="onLogout()" mat-button>Logout</button>
        </li>
    </ul>
</mat-toolbar>