a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.logo {
    height: 75px;
    margin: 12px;
    padding-top: 20px;
}

.spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    background-color: #ffffff;
    padding: 5px;
    height: 80px;
}