@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
    height: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: "Helvetica Neue", sans-serif;
    color: var(--text-color);
    margin: 0;
    --header-color: #D1DFB7;
    --sidebar-color: #FAE6BE;
    --text-color: black;
}

h1,
h2,
h3,
h4,
h5
h6 {
    padding-top: 12px;
    padding-bottom: 6px;
}


/* padding: 12px; */

.strong {
    font-weight: bold;
    padding-right: 5px;
}